body {
    background-image: url(./img/firstPage1.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }

.first_page_container {
    text-align: center;
    margin-top: 200px;
}

.gachon_burger {
    font-size: 80px;
    color: #ffffff; /* 버거킹 컬러 */
}

.button_container {
    margin-top: 40px;
}

.order_button {
    font-size: 40px;
    padding: 150px 100px;
    margin: 100px 10px;
    background-color: #ff5733; /* 버거킹 컬러 */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background_color 0.3s ease;
    
}

.order_button:hover {
    background-color: #ff824a; /* 버거킹 컬러의 밝은 조합 */
}

.order_button_takeout {
    font-size: 40px;
    padding: 150px 100px;
    margin: 0 10px;
    background-color: #ff5733; /* 버거킹 컬러 */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background_color 0.3s ease;
}

.order_button_takeout:hover {
    background-color: #ff824a; /* 버거킹 컬러의 밝은 조합 */
}